.lblbChat {
    #A01100
}

.stackedBox {
    background:#fff;
    border:2px solid #7B8ABB;
    border-radius: 5px;
    font-family: "Quicksand";
}

@media (max-width: 767.98px) {
    .stackedBox {
        margin-bottom: 10px;
    }
}

.adver {
    margin-top:10px;
    padding:10px;
    font-family:"Quicksand";
    min-height:180px;
    background:url('../images/adver.jpg');
    background-size: cover;
}

    .adver .title {
        font-size:24px;
        color:#7B8ABB;
        display:block;
        text-align:center;
    }

    .adver .newBox {
        background-color: rgba(160,17,0,1);
        color:#fff;
        padding:4px 8px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        border-radius: 7px;
        text-align: center;
        font-weight: lighter;
        font-size:17px;
    }

    .adver .txt {
        font-size:14px;
        color:#444;
        text-align: left;
        padding:5px;
        margin-top:10px;
    }

.adver:first-child {
    margin-top:0px;
}

.progress {
margin-bottom:2px;
    height:2px;
}

.lblStaked {
    font-size:20px;
}

.bd-footer {
    font-size: 85%;
    background-color: #f7f7f7;
    margin-top: 2rem;
}

.bd-navbar {
    background-color: #eee;
    border-bottom: 1px solid #dfdfdf
}

.bd-footer-links li {
    display: inline-block;
}

.bd-footer-links {
    padding-left: 0;
    margin-bottom: 1rem;
}

.bd-footer-links li+li {
    margin-left: 1rem;
}

.bd-footer a {
    font-weight: 500;
    color: #495057;
}

.metric {
    position: relative;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    border-radius: .25rem;
    cursor: default;
}



.meta-info{
    word-wrap: break-word;
}

.metric-bordered {
    border: 1px solid #dfdfdf;
}

.metric-block {
    margin-top: 25px;
    margin-bottom: 25px;
}

#right-meta {
    /* margin-top: 25px; */
    /* padding-top: 1rem; */
}

#producerInfo,
.meta-info {
    margin-bottom: 25px;
}

#vote-logs p {
    /* line-height: 120%; */
    font-size: 13px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd
}

#vote-logs .producer-link {
    padding-top: 5px;
    margin-right: 10px;
    display: inline-block;
}

#vote-logs .producer-link.router-link-active{
    color: red;
    text-decoration: underline
}

.pagination{
    margin-top: 20px;
}


.producer-logo-block{
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 10px;
    background: #fefefe;
}


.producers-list,
.producer-list-link{
    font-size: 14px;
}

.el-tag{
    margin-right: 10px;
    margin-bottom: 5px;
}

.producer-list-item {
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color: #f5f7fa; */
    border-bottom: 1px solid #ebeef5;
}

.producer-list-item .el-main{
    /* padding-top: 10px; */
    font-size: 13px;
}

.producer-list-item .el-main p{
    margin-bottom: 5px;
}

.producers-list{
    border-top: 1px solid #ebeef5;
    margin-top: 25px;
}


.producer-list-item.selected{
    background: #f5f7fa;
}

.metric-block .router-link-exact-active{
    color: black
}

.proxy-list{
    margin-top: 20px;
}


.detail-logo-block{
    width: 130px;
    height: 130px;
    border-radius: 3px;
    padding: 4px;
    border: 1px solid #f4f4f4;
    display: inline-block;
    overflow: hidden;
}

.detail-logo-block{
    margin-bottom: 20px;
}

.detail-slogan{
    color: #999;
    margin-bottom: 0.5rem;
}

.detail-info-desc-content strong{
    color:black
}
.detail-info-desc-content{
    color: #555
}

#producerInfo p{
    margin-bottom: 5px;
    font-weight: bold;
    color: black
}


#producerInfo p .item-value{
    color: #555;
    font-weight: normal;
}

#producerInfo p .item-value a{
    font-weight: normal;
}

#producerInfo p .item-value .el-tag{
    margin-top: 5px;
}

.detail-links span{
    margin-right: 8px;
    color: #007bff
}

.detail-info-block .el-main{
    padding-top: 10px
}

.voter-actions{
    font-size: 14px;
    margin-bottom: 50px;
}

.cancel-action{
    color: red
}

.detal-action{
    color: green
}

.voter-actions li{
    line-height: 200%;
}

.scatter-block .el-button{
    height: 56px;
}

.p-value{
    color: #999
}




/* ERA CREATIVA STYLES */

.subTmenu{
    display:block !important;font-size:12px;font-weight: bold;width:100%
}

.minSubTmenu{
    display:block !important;font-size:9px;font-weight: bold;width:100%;color:#7d9f51
}

.table th, .table td {
    padding: 0.61rem 1rem;
    vertical-align: middle;
}

.table-responsive {
    overflow-x: unset;
}

.bg-ec-eosmedi{
    background-color:#ADB9D5 !important;
}

.navbar-brand{
    padding:8px 0 !important;
}
.brand-logo{
    width:45px !important;
}

.w_logo{
    position:absolute;
    top:8px;
}

.w_txtlogo{
    margin-left:45px;
}


.brand-text{
    font-size:30px;
    padding-top:0px;
}

.brand-text-sub{
    font-size:14px;color:#555;
    margin-left:7px;
}

.imgProducer, .imgProxy{
    width:25px;
    overflow:hidden;
    position:absolute;
    margin-left:-29px !important;
}

.tdProducer, .tdProxy{
    padding-left:35px !important;
}

.content-wrapper table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, .content-wrapper table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    background-color: #66A8CC;
    box-shadow: 0 0 1px #444;
    /*border-radius: 0;
    top: 17px;
    left: 10px;
    box-shadow: 0 0 2px #444;*/
}

/* SIDE PANEL PRODUCER DETAILS */

.HeadVoteLog{
    font-weight: bold;
    display:block;
    color:#707FA1;
    font-family: "Open Sans";
    font-size:14px;
}

.SubHeadVoteLog{
    font-size: 10px;
    display:block;
    color:#0f0f0f;
}

.SubHeadVoteLogH{
    font-size: 10px;
    color:#0f0f0f;
    font-weight: bold;
}

.w_voter{
    padding:3px;
    background-color:#EAF0F2;
    border-color:#DDE6E9;
    color:#029BD4;
    margin-top:4px;
}
.cancelvoter{
    color:#880000;
    border-color:#ddd;
}

.addvoter{
    color:#009900;
}

.w_vote:hover,.w_vote a:hover{
    color:#000 !important;
}

.w_voteractive {
    border:1px solid #ff4d51;
}

.proxyLineDetails{
    background-color:#efefef;border-radius:4px;padding-top:5px;padding-bottom:5px;
}

.w_thumbs{
    display:inline-block;
    width:auto;
}

.w_infoAction{
    display:inline-block;
    width:auto;
}

.infoHelp{
    position:absolute;
    left:15px;
    top:10px;
    z-index:200;
    font-size:18px;
}

.miniTitle{
    font-size:10px;
    margin-bottom:0px;

}

.fixheightcab{
    position:absolute;
    right:10px;
    top:7px;

}



.minHeightCab{
    padding: 0.5rem 0.5rem;
    height:30px;
}

.card-header-fix {
    padding: 0.5rem 0.5rem;
    font-size:10px !important;
    font-weight: bold;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.card-header, .card-header-fix{
    font-family: "Quicksand";
}

.minThumbs{
    font-size:11px;
}
    .minThumbs .la{
        font-size:14px;
        line-height: 2px;
    }
.borderdefault{
    border: 1px solid #ADB9D5;
}

.borderdefaultHeader{
    border: 1px solid #ADB9D5;
}

.borderdefaultHeader:hover{
    background-color: #EBEDF3 !important;
}

.colortheme, .colortheme:hover{
    color: #ADB9D5;
}

/* RESET */
.btn-primary{
    background-color:#7B8ABB !important;
}

.page-item.active .page-link {
    color:#fff!important;
    background-color:#7B8ABB !important;
    border-color:#7B8ABB !important;
}

.page-item a, .breadcrumb-item, .breadcrumb-item a{
    color:#7B8ABB !important;
}

element.style {
}
.nav.nav-tabs.nav-underline .nav-item a.nav-link.active {
    border: none;
    background-color: transparent;
}
.nav.nav-tabs.nav-underline .nav-item a.nav-link {
    color:#7B8ABB;
}
    .nav.nav-tabs.nav-underline .nav-item a.nav-link:before {
        background: #7B8ABB;
    }

    .nav.nav-tabs.nav-underline {
        border-bottom: 1px solid #7B8ABB;
    }

}
.main-menu.menu-light .navigation > li.open > a {
    border-right: 4px solid #7B8ABB;
}


/* REFERENDUM DISCUSSION*/

/* description*/

#descReferendum p, ul{
    font-size: 13px;
    line-height: 20px;
    color:#adadad;
}

/* discussion */
.w_msnDisc p{
    font-size: 13px;
    line-height: 20px;
    color:#adadad;
}

.userRefdisc{
    font-weight: bold;
    display:inline-block;
    font-size:15px;
}

.dateRefdisc{
    font-size:11px;
    color:#000;
    display:inline-block;
}

.replyDisc{
    font-size:11px;
    color:#7B8ABB;

}

hr.center{
    width:90%;
    left:5%;
}


        /** OFFSET DISCUSSIONS **/

            .doffset-1{
                margin-left:3%;
            }

.doffset-2{
    margin-left:3%;
}

.doffset-3{
    margin-left:6%;
}

.doffset-4{
    margin-left:9%;
}

.doffset-5{
    margin-left:12%;
}

.doffset-6{
    margin-left:16%;
}

.doffset-7{
    margin-left:19%;
}

.doffset-8{
    margin-left:21%;
}

.doffset-9{
    margin-left:24%;
}

.doffset-10{
    margin-left:27%;
}

.doffset-11{
    margin-left:30%;
}
/**/

/* END RESET */

.foundStyle{
    font-size:12px;
    color:#bbb;

}

.HeadRef{
    font-size:18px;
    display:block;
    font-weight: lighter;
}

.byRef{
    color:#7B8ABB;
    font-weight: bold;
}

.dateRef{
    font-size:12px;
    font-weight: bold;
    color:#7B8ABB;
    display:block;
}

.monthlyRef{
    font-size:12px;
    font-weight: bold;
    color:#7B8ABB;
}

.resMRef{
    color:#000;
}


/* VOTE US */

.voteUs{
    position:relative;
    background-image: url("../images/vote-us.jpg");
    background-position: center middle;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: Quicksand;
}

@media (max-width: 767.98px) {
    .voteUs {
        margin-bottom: 10px;
    }
}

    .vote1line{
        color:#000;
        width:100%;
        display:block;
        text-align: center;
        font-size:14px;
        font-weight: bold;
        padding-top:5px;
    }

    .vote2line{
        color:#fff;
        width:100%;
        display:block;
        text-align: center;
        font-size:24px;
        font-weight: bold;
        margin-top:-5px;
        padding-bottom:5px;
    }



@media (max-width: 767.98px) and (orientation: landscape) {

    imgProfile{
        width:33% !important;
    }

}



.chat-application .chat-app-window .badge{
    color: #6B6F82
}


#accordionWrap6 code{
    color: #444
}

#accordionWrap6 code.highlight,
.addvoter.highlight{
    color: red
}


