@import url("bootstrap-extended.css");
@import url("colors.css");
@import url("components.css");


.chat-application .chats .chat-avatar .avatar.letter-icon {
    width: 40px !important;
    margin-top: -4px !important;
    border-radius: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #ADB9D5;
    border-color: #ADB9D5;
    color: #fff;
  }

  .chat-application .chats .chat-avatar .avatar{
    width: 40px !important;
    margin-top: 0 !important;
  }




  .brand-text-sub:hover {
      text-decoration: underline;
      color: #000
  }